
.layui-elem-field{
    width: 80%;
    margin: auto;
}
.layui-elem-field legend {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #467BCD;
}
.layui-btn.sub{
    background: #0066CC;
    width: 100px;
}
.con .layui-form .layui-form-item .layui-upload.tu{
    width: 400px;
    /*border: 1px solid #000;*/
}
.con .layui-form .layui-form-item .layui-upload .layui-upload-list{
    display: inline-block;
}.con .layui-form .layui-form-item .layui-upload .layui-upload-list #demoText{
    display: inline-block;
 }
.con .layui-form .layui-form-item .layui-upload .layui-upload-list .layui-upload-img{
    height: 100px;
}
.layui-upload .layui-btn.tu{
    width: 100px;
    height: 100px;
}
.con .layui-field-box .layui-form{
    width: 70%;
}
.con .layui-field-box .layui-form .layui-input-inline{
    width: 38%;
}
.con .layui-field-box .layui-form .layui-input-inline.tie {
    float: right;
}
.con .layui-field-box .layui-form .layui-input-inline .layui-input{
    width: 104%;
}
.con .layui-form .layui-form-item .layui-upload{
    position: relative;
 }
 .con .layui-form .layui-form-item .layui-upload-choose{
     width: 200px;
     position: absolute;
     top:20px;
     left: 120px;
}
.con .layui-form.top{
    margin: 30px;
}
.con .layui-form.top .layui-input-inline.all{
    width: 100px;
}

.Deep_blue{
    background: #0066CC;
}
.con .layui-form.top .layui-form-item{
    position: relative;
}
.layui-btn.export{
    position: absolute;
    top: 0;
    right: 0;
    background: #0066CC;
    opacity: 0.5;
filter: alpha(opacity=50);
    transition: 1s;
}
.layui-btn.export:hover{
     opacity: 0.9;
   filter: alpha(opacity=90);
 }
.con .layui-table.num{
    width: 95%;
    margin:10px auto;
}
.con .layui-table.num tr th,.layui-table.num tr td{
    font-size: 12px;
    padding: 9px;
}
.layui-table.num tr td .layui-btn{
    height: 30px;
    line-height: 30px;
}
.og{
    color: #FF9C08;
}
.be{
    color: #5485D1;
}
.layui-table.num tr td .layui-btn{
    width: 80px;
}
.layui-table.num tr td .layui-btn.cha{
    color: #FFB03A;
    border: 1px solid #FFB03A;
}
.layui-table.num tr td .layui-btn.nge{

}
.con .pag{
    margin-left: 3%;
    padding: 10px;
}
.con .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #9BBEDE;
}

/*隔行变色*/
table th{
    background: #E4EFF5;
}
table tbody tr:nth-child(odd){background:#FFF;}
table tbody tr:nth-child(even){background:#F4F8FB;}


.layui-form.apply .layui-form-label{
    width: 100px;
}
.layui-form.apply .layui-input.num{
   display: inline-block;
    width: 90%;
}
.layui-form.apply .layui-input-block{
    margin-left: 130px;
}
.con .layui-field-box .layui-form.apply .layui-input-inline{
    width: 36% ;
}
.layui-elem-field{
    margin: 20px auto 10px;
}
.layui-form.apply .layui-input.equipment{
    background: #EEE;
}
.apple{
    width: 90%;
    margin: 20px auto;
}
.approval{
    display: inline-block;
    width: 15%;
    margin: 10px;
    height: 50px;
    text-align: center;
    line-height:50px;
    border-style:solid;
    border-width:3px 1px 1px ;
    border-radius: 2px;
}
.approval.leave{
    border-color:#84CD25 #C8CED2 #C8CED2 ;
}
.approval.doc{
    border-color:#FEAD59 #C8CED2 #C8CED2 ;
}
.approval.purchase{
    border-color:#40CCFA #C8CED2 #C8CED2 ;
}
.approval.chapter{
    border-color:#FE3000 #C8CED2 #C8CED2 ;
}
.approval.car{
    border-color:#C7925E #C8CED2 #C8CED2 ;
}
.approval.travel{
    border-color:#F2D285 #C8CED2 #C8CED2 ;
}
.approval.pay{
    border-color:#47DBD0 #C8CED2 #C8CED2 ;
}
.approval.other{
    border-color:#C1C6CA #C8CED2 #C8CED2 ;
}
