#ta {
  width: 100%;
}
#nav {
  width: 100%;
  height: 50px;
  background: #333;
}
@media only screen and (min-width: 500px) {
  * {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  #nav {
    position: relative;
  }
  #nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%;
    height: 500%;
    background: #000;
  }
  #nav ul li {
    margin: 10px;
  }
  #nav ul li a {
    color: #fefefe;
    text-decoration: none;
  }
  #nav ul img {
    display: none;
  }
  #nav #na {
    display: block;
    overflow: hidden;
  }
  #nav #na #cuo {
    display: none;
  }
  #nav #sou {
    display: block;
    background: url("../img/sou.png") no-repeat scroll right center transparent;
    background-size: 20px;
    border: none;
    border-bottom: 1px solid white;
  }
  #nav #na img {
    float: left;
    width: 20px;
    margin: 10px 13%;
  }
  #nav #xian {
    z-index: 100;
    display: none;
  }
  #nav #xian li,
  input {
    margin: 10px 10%;
    color: #fefefe;
  }
  #hua {
    width: 90%;
    overflow: hidden;
    position: relative;
    margin: auto;
  }
  #hua ul:hover li {
    opacity: 0.5;
  }
  #hua ul li {
    list-style: none;
    box-sizing: border-box;
    float: left;
  }
  #hua ul li:hover {
    opacity: 1;
  }
  #hua ul {
    width: 55rem;
    overflow: hidden;
    animation: dong 30s linear infinite normal;
  }
  #hua ul:hover {
    animation-play-state: paused;
  }
  @keyframes dong {
    from {
      margin-left: 0;
    }
    to {
      margin-left: -500px;
    }
  }
  #hua ul li {
    float: left;
    width: 5rem;
    margin: 5px;
  }
  #hua ul li img {
    display: block;
    margin: 5px auto;
  }
  #hua ul li p {
    font-size: small;
    text-align: center;
  }
  #mb h1,
  h2 {
    text-align: center;
    font-weight: bold;
    margin: 1rem;
    font-size: larger;
  }
  #mb p {
    text-align: center;
    margin: 1rem;
    color: #0A68BF;
    font-size: small;
  }
  #mb p:hover {
    text-decoration: underline;
  }
  #mb img {
    display: block;
    margin: 2rem auto;
    width: 80%;
  }
  #ling img {
    display: block;
    width: 5rem;
    margin: 1rem auto;
  }
  #ling .m {
    transition: all 1s;
  }
  #ling .m:hover {
    transform: translate(1rem);
  }
  #ling .mo {
    animation: mo 5s linear infinite;
  }
  #ling .mo:hover {
    animation-play-state: paused;
  }
  @keyframes mo {
    100% {
      transform: rotate(360deg);
    }
  }
  #ling span {
    display: block;
    width: 10rem;
    margin: 1rem auto;
    color: #0A68BF;
  }
  #ling p {
    width: 15rem;
    margin: 1rem auto;
    font-size: medium;
  }
  #ling h1 {
    text-align: center;
    margin: 1rem auto;
    font-weight: bold;
    font-size: larger;
  }
  #pei img {
    display: block;
    margin: 1rem auto;
    width: 80%;
  }
  #pei h1 {
    text-align: center;
    font-weight: bold;
    margin: 1rem;
  }
  #pei p {
    width: 90%;
    text-align: center;
    margin: 1rem;
    line-height: 2rem;
  }
  #pei span {
    display: block;
    width: 90%;
    text-align: center;
    margin: 1rem;
    line-height: 2rem;
    color: #0A68BF;
  }
  #pei span:hover {
    text-decoration: underline;
  }
  #wu {
    width: 100%;
    height: 40rem;
    margin: 25px auto;
    position: relative;
    border: 1px solid #B00040;
    overflow: hidden;
    border-radius: 5px;
  }
  #wu ul {
    width: 100%;
    height: 2000px;
    position: absolute;
    border: 1px solid #07AC72;
    /*animation: move 15s ease 0s infinite normal;*/
    animation: move 50s linear 0s infinite normal;
    background: #fefefe;
  }
  #wu ul:hover {
    animation-play-state: paused;
  }
  #wu ul:hover li {
    opacity: 0.5;
  }
  #wu ul li {
    list-style: none;
    box-sizing: border-box;
  }
  #wu ul li:hover {
    opacity: 1;
  }
  #wu ul li img {
    width: 90%;
    height: 20rem;
    /*margin: 0 10px;*/
  }
  @keyframes move {
    from {
      margin-top: 0;
    }
    to {
      margin-top: -120rem;
    }
  }
  #tab2 {
    position: relative;
  }
  #tab2 ul {
    position: relative;
  }
  #tab2 li {
    display: none;
    position: absolute;
    overflow: hidden;
  }
  #tab2 .act {
    display: block;
  }
  #tab2 img {
    display: inline-block;
    width: 3rem;
    margin: 1rem;
    float: left;
  }
  #tab2 span {
    display: inline-block;
    margin: 1rem 0.1rem;
    width: 3rem;
    float: left;
    color: #0e0e0e;
    font-weight: bold;
  }
  #tab2 h3 {
    text-align: center;
    color: #0A68BF;
    margin: 1rem;
  }
  #tab2 h3:hover {
    text-decoration: underline;
  }
  #tab2 #but {
    position: absolute;
    left: 5rem;
    top: 20rem;
    margin: 2rem;
  }
  #tab2 #but button {
    border: none;
  }
  #tab2 #but .active {
    background: #0e90d2;
  }
  #jiy {
    margin-top: 30rem;
  }
  #jiy h1 {
    text-align: center;
    font-weight: bold;
    margin: 2rem;
    font-size: larger;
  }
  #jiy p {
    text-align: center;
    margin: 2rem;
  }
  #jiy span {
    display: block;
    text-align: center;
    margin: 1rem;
    color: #0e90d2;
  }
  #jiy span:hover {
    text-decoration: underline;
  }
  #jiy img {
    width: 100%;
    display: block;
    margin: 2rem auto;
  }
  #foot2 p {
    margin: 1rem;
    color: #0A68BF;
    cursor: pointer;
  }
  #foot2 ul li {
    margin: 0.5rem 1rem;
    font-size: smaller;
  }
  #foot2 ul li:hover {
    text-decoration: underline;
  }
  #foot2 ul {
    display: none;
  }
  #we {
    font-size: smaller;
  }
  #we b {
    margin: 0.5rem;
  }
  #we p {
    color: #6C6C6C;
    width: 95%;
    margin: 0.5rem;
  }
  #we ul {
    overflow: hidden;
  }
  #we ul li {
    float: left;
    margin: 1rem 0.5rem;
  }
  #we ul li:hover {
    text-decoration: underline;
  }
}
