.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {
    border: none;
}
.layui-tab-title{
    padding: 20px ;
}
.layui-tab-title .layui-btn{
    opacity: .5;
    filter: alpha(opacity=50);
}
.layui-tab-brief>.layui-tab-title .layui-this .layui-btn{
    opacity: .9;
    filter: alpha(opacity=90);
}
.name_blue{
    color:#5485D1 ;
}
.blue{
    background: #0066CC;
}
.blue_hor{
    background: #0066CC;
    opacity: .5;
    transition: 0.5s;
    filter: alpha(opacity=50);
}
.blue_hor:hover{
    opacity: .9;
    filter: alpha(opacity = 90);
}

/*人事档案*/
.layui-form.staff{

}
.layui-form.staff .layui-form-label{
    padding: 9px 2px;
    width: 50px;
}
.layui-form.staff .layui-input-inline.department{
    width: 100px;
}
.layui-form.staff .export{
    width: 10%;
    display: inline-block;
    text-align: right;
}
.layui-form.staff .export .layui-btn.port{
    opacity: .5;
    filter: alpha(opacity=50);
}
.layui-form.staff .export .layui-btn.port:hover{
    opacity: .9;
    filter: alpha(opacity=90);
}
.layui-table tr th ,td{
    font-size: 12px;
}
.layui-form.staff{
    width: 100%;
}.layui-form.per{
    width: 95%;
    margin: auto;
 }
.layui-table.per{
    width: 95%;
    margin: auto;
}
.layui-form-item.left{
    display: inline-block;
    width: 50%;
    /*border: 1px solid #000;*/
}
.layui-form-item.right{
    display: inline-block;
    width: 49%;
    text-align: right;
    /*border: 1px solid #000;*/
}
.layui-form-item.right .key{
    display: inline-block;

}
.layui-form-item.right .key .layui-form-label{
    display: inline-block;
    float: none;
}
.layui-form-item.right .key .layui-input-inline{
    display: inline-block;
    float: none;
}
.layui-tab-item h3{
    color: #515151;
    width: 95%;
    margin: 10px auto;
}
.layui-icon.file{
    color: #FFD782;
}
.rename{
    display: none;
}
/*通讯录*/
.layui-form._new{
    padding: 30px;
    width: 90%;
    margin: auto;
}
.layui-form._new .layui-input-inline.new{
    width: 55%;
}
.search_results{
    width: 96%;
    margin: 20px auto;
}
.search_results>.search_left{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    border: 1px solid #DFECF3;

}
.light{
    background: #E4EFF5;
}

/*
.search_results>.search_left .layui-nav{
    background: #FFF;
}
.search_results>.search_left .layui-nav .layui-nav-item a{
     color: #666;
 }
.search_results>.search_left .layui-nav-tree .layui-nav-item a:hover{
    background: none;
    color: #0066CC;
}
.search_results>.search_left .layui-nav-itemed .layui-nav-child{
    background: none !important;
    color: #0066CC;
}
.search_results>.search_left .layui-nav-tree .layui-nav-bar{
    background: none;
}
.search_results>.search_left .layui-nav-tree .layui-nav-child dd.layui-this, .search_results>.search_left .layui-nav-tree .layui-nav-child dd.layui-this a,.search_results>.search_left  .layui-nav-tree .layui-this, .search_results>.search_left .layui-nav-tree .layui-this>a,.search_results>.search_left  .layui-nav-tree .layui-this>a:hover{
    background: none;
    color: #0066CC;
}.search_results>.search_left .layui-nav-itemed>a{
     color: #0066CC !important;
 }
.search_results>.search_left .layui-nav-tree{
    width: auto;
}
.search_results>.search_left .layui-nav-tree .layui-nav-item{
    border: none;
}
.search_results>.search_left .layui-nav .layui-nav-more{
    border-color:#666 transparent transparent ;
}
.search_results>.search_left .layui-nav .layui-nav-mored,.search_results>.search_left  .layui-nav-itemed .layui-nav-more{
    border-color: transparent transparent #666;
}
.search_results>.search_right{
    display: inline-block;
    width: 79%;
    vertical-align: top;
}
.search_results>.search_right .layui-table tr th,.search_results>.search_right .layui-table tr td{
    font-size: 13px;
}
.search_results>.search_right .layui-table tr td .layui-btn{
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    padding: 0 5px;
}

.search_results>.search_right .layui-table tr td .layui-btn.edit{
    border: 1px solid #FF9A02;
    color: #FF9A02;

}
.search_results>.search_right .layui-table tr td .layui-btn.delete{
    border: 1px solid #D14E65;
    color: #D14E65;
}
*/



/*隔行变色*/
table th{
    background: #E4EFF5;
}
table tbody tr:nth-child(odd){background:#FFF;}
table tbody tr:nth-child(even){background:#F4F8FB;}

/*选项卡*/
.tab{
    width: 95%;
    margin:20px auto 50px;
    color: #666;
    /*border: 1px solid #000;*/
}
.tab dl{
    border: 1px solid #D7E7F0;
}

 .tab dl dt,.tab dl dd{
    padding: 10px ;
}
.tab dl dt{
    background: #E4EFF5;
}
.tab dl dd{
   margin-left: 10%;
}
.tab dl dd.active a{
    color: #0066CC;
}
.tab .tab_left{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    /*border: 1px solid red;*/
}
.tab .tab_right{
    display: inline-block;
    vertical-align: top;
    width: 78%;
    /*border: 1px solid blue;*/
}
.tab .tab_right .tab_item{
    display: none;
}
.tab .tab_right .tab_item.show{
    display: block;
}
.tab .layui-table{
    width: 98%;
    margin: 0 auto;
}
.tab .layui-table tr th,.layui-table tr td{
    font-size: 12px;
}
.tab .layui-table tr td .layui-btn{
    height: 25px;
    font-size: 12px;
    line-height:25px;
    padding: 0 5px;
}

.tab .layui-table tr td .layui-btn.edit{
    border: 1px solid #FF9A02;
    color: #FF9A02;

}
.tab .layui-table tr td .layui-btn.delete{
    border: 1px solid #D14E65;
    color: #D14E65;
}
