.blue{
    background: #0066CC;
}
.blue_hor{
    background: #0066CC;
    opacity: .5;
    transition: 0.5s;
    filter: alpha(opacity=50);
}
.blue_hor:hover{
    opacity: .9;
    filter: alpha(opacity = 90);
}
/*车辆管理*/
.layui-form._new{
    padding: 30px;
    width: 90%;
    margin: auto;
}
.layui-form._new .layui-input-inline.new{
    width: 55%;
}
.search_results{
    width: 96%;
    margin: 20px auto;
}

.light{
    background: #E4EFF5;
}

.search_results>.search_right .layui-table tr td .layui-btn{
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    font-size: 12px;
}
.orange{
    color: #FF9A02;
}
.search_results>.search_right .layui-table tr td .layui-btn.complete{
    border: 1px solid #3ECA81;
    color: #3ECA81;

}
.search_results>.search_right .layui-table tr td .layui-btn.edit{
    border: 1px solid #FF9A02;
    color: #FF9A02;

}
.search_results>.search_right .layui-table tr td .layui-btn.delete{
    border: 1px solid #D14E65;
    color: #D14E65;
}

.layui-table.work td, .layui-table.work th{
    padding: 9px 5px;
}
._blue{
    color: #5485D1;
}
.layui-input-inline._new{
    width: 38%;
}
.layui-form._new .layui-input-inline.car{
    width: 15%;
}
._orange{
    color: #FF9A02;
}
.search_results .layui-table tr th, .layui-table tr td{
    font-size: 12px;
}
.search_results .layui-table tr td a{
    text-decoration: underline;
}


/*办公用品*/
.layui-input.sear{
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.registration{
    width: 70%;
    display: inline-block;
}


/*隔行变色*/
table th{
    background: #E4EFF5;
}
table tbody tr:nth-child(odd){background:#FFF;}
table tbody tr:nth-child(even){background:#F4F8FB;}

