html,body{
    width: 100%;
    height: 100%;
}

.con{
    width: 100%;
    height: 100%;
}
.con .logo{
    text-align: center;
    background: #29324B;
}
.con-nav{
    background: #29324B;
    text-align: center;
}
.con .nav{
    zoom: 1;
   width: 95%;
    margin: auto;
    /*border: 1px solid red;*/
    text-align: center;
}
.con .nav:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.con .nav li{
    float: left;
padding: 5px 1.5%;
    /*width: 7%;*/
    /*border: 1px solid #000;*/
}
.con .nav li a{
    color: #C7CDD1;
    font-size: 16px;
}.con .nav li a:hover{
    color: #00B5FE;
    padding: 5px 0;
    border-bottom: 2px solid #00B5FE;
 }
.con .nav .go{
    /*width: 23%;*/
}
.con .nav .go:hover a{
    border-bottom: none;
}
.con .nav .go a{
    color: #1872B2;
    font-size: 25px;
    font-family: 华文行楷;
}
.yellow{
    color: #FFCC00 !important;
}
.content{
    background: #00071A;
    color: white;
    width: 100%;
    height: 75%;
   padding: 50px 0;

 }
.info{
    /*border: 1px solid #000;*/
    zoom: 0;
    width: 98%;
    margin: auto;
    height: 100%;
}
.info:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.content .con-left{
    width: 24%;
    height: 100%;
    float: left;
    /*border: 1px solid red;*/
}

.content .con-mid{
    width: 50%;
    height: 100%;
    float: left;
    margin: 0 0.7%;
    border: 2px solid #0090CD;
    /*height: 700px;*/
}
.content .con-mid .mid-top{
    width: 98%;
    margin: auto;
    /*height: 650px;*/
    height: 90%;
    /*border: 1px solid red;*/
}
.content .con-mid .mid-top .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.mid-top .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}

/*地图*/


.content .con-mid .mid-bot{
    width: 98%;
    margin: auto;
    /*border: 1px solid blue;*/
}
.content .con-mid .mid-bot .map{
    zoom: 1;
    width: 80%;
    margin: auto;
    /*border: 1px solid salmon;*/
}
.content .con-mid .mid-bot .map:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
.content .con-mid .mid-bot .map li{
    float: left;
    text-align: center;
    /*border: 1px solid magenta;*/
    width: 49%;
    padding: 10px 0;
}
.content .con-mid .mid-bot .map li a{
    color: #C7CDD1;
}
.content .con-mid .mid-bot .map li a:hover{
    color: #0676B5;
}
.content .con-right{
    width: 24%;
    float: right;
    /*border: 1px solid blue;*/
    height: 100%;
}

.drop{
   width: 100%;
    height: 100%;
}
.drop li{
    color: #FFF;
}
.drop li p{
    background: #0D152A;
    padding: 5px 1%;
}
.drop li .cur{
    display: inline-block;
    width: 30%;
    padding: 0 3%;
}
.drop li:first-child .cur{
    border-left: 2px solid #FF8E4C;
}
.drop li:nth-child(2) .cur{
    border-left: 2px solid #ED0A59;
}
.drop.one li:first-child .cur{
    border-left: 2px solid #2CB0C7;
}
.drop .cur-right{
    display: inline-block;
    width: 60%;
text-align: right;
    position: relative;
}
.drop .cur-right .icon.up,.drop .cur-right .icon.bot{
    display: inline-block;
    border-radius: 50%;
    /*width: 30px;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    padding:1px 2px;
    text-align: center;
    border: 1px solid #979EA8;
    color: #979EA8;
    position: absolute;
    right: 0;
    top: -15px;
}
.drop .cur-right .icon.bot{
    display: none;
}
.drop .down{
margin-top: 15px;
}
.drop .down.one .layui-table{
    width: 90%;
    margin: auto;
    height: 300px;
}
.drop .down.one .layui-table tr th,.down.one  .layui-table tr td{
    font-size: 10px;
    padding: 5px 3px;
    /*border: 1px solid cyan;*/
    text-align: center;
    color: #FFF;
}
.drop .down.one .layui-table th{
    background: #0188C0;
}
.drop .down.one .layui-table tr:nth-child(odd){
    background: #00071A;
}
.drop .down.one .layui-table tr:nth-child(even){
    background: #0D152A;
}
.liu{
    width: 90%;
    margin: auto;

}
.liu .su{
    height: 20px;
    line-height: 20px;
    background: #0188C0;
    margin: 3% 0;
    border-radius: 20px;
    text-align: center;
}
.liu .su span{
    display: inline-block;
    width: 40%;
    text-align: center;
}
.liu .su i{
    color:#333;
}