.layui-table tr>th {
color: #333;

}

.layui-table td, .layui-table th{
    font-size: 12px;
    padding: 5px;
    color: #555;
}

.layui-table td:last-child,th:last-child{
    text-align: center;
}
#tab{
    width: 90%;
    height:auto;
    /*border: 1px solid red;*/
    position: relative;
    margin: 2% 3%;
}
#tab .con{
    width: 100%;
    background: #FFF;
    /*border: 1px solid #000;*/
    margin:2% 0;
    border-radius: 5px;
}
#tab .til{
    zoom: 1;
    /*margin-left: 3%;*/
    margin-top: 3%;
}
#tab .til:after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}
#tab .til li{
    width: 20%;
    float: left;
}
#tab .til a{
    width: 80%;

}
#tab .til li .layui-btn{
    color: #45B3FD;
    border: 1px solid #45B3FD;
}
#tab .til li .act{
    color: white;
    background: #0099FF;
    border: none;
}#tab .layui-badge-dot{
     margin:0 5%;
 }
#tab .tab-con{
    display: none;
}#tab .tab-con.act{
     display: block;
 }
#tab .tab-con{
    border: 1px solid transparent;
    /*border: 1px solid green;*/
}
#tab .tab-con .layui-table{
    margin: 5% auto;
}
/*#tab .tab-con .layui-form{*/
    /*margin: 5% 0;*/
/*}*/
.con .layui-form{
    width: 95%;
    margin: 5% auto;
    font-size: 12px;
    /*border: 1px*/
    /*solid #000;*/

}

.con .layui-form .layui-form-label{
     padding: 9px 2px;
     width: 35%;
     /*border: 1px solid red;*/
 }
.con .layui-form .layui-form-item{
    display: inline-block;
    width: 19%;
    /*border: 1px solid green;*/
}.con .layui-form .layui-input-inline{
     width: 55%;
     /*border: 1px solid blue;*/
 }
.con .layui-form .layui-btn.find{
    display: block;
    margin: 5% auto;
    width: 10%;
    background: #005ED8;
}

#tab .page{
    width: 90%;
    margin: auto;
}
#tab .layui-form.fid{
    width: 100%;
    margin: auto;
}
/*#tab .layui-form.fid .layui-form-item{
    width: 40%;
    margin:2% auto;
}
#tab .cen{
    display: block;
    margin: auto;
}*/
#tab .layui-table.info{
    margin: 5%  auto;
    width: 95%;
}
#tab .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background: #0097E2;
}
#tab .save{
    width: 25%;
    /*border: 1px solid #000;*/
    text-align: center;
    position: absolute;
    right: -2%;
    top: 1%;
}#tab .save .print{
     display: inline-block;
     background: #FFF;
     border-radius: 5px;
     color:#0F81FF;
     padding:5px 10px;
     width: 30%;
 }

 .green{
     color:#76CB7A ;
 }
.red{
     color:#CC3535;
 }

.layui-btn.ok{
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
    color:#76CB7A ;
    border: 1px solid #76CB7A ;
}
.layui-btn.no{
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
    color:#CC3535;
    border: 1px solid #CC3535 ;
}

/*查询*/
.query{
    display: none;
}