.con{
    width: 90%;
    border: 1px solid transparent;
    margin: 2% 3%;
    background: #FFF;
    border-radius: 5px;
}
.con .layui-form{
    width: 90%;
    margin: 5% auto;
    font-size: 12px;
    /*border: 1px*/
    /*solid #000;*/
}.con .layui-form.fo .layui-form-label{
   padding: 9px 5px;
    width: 30%;
     /*border: 1px solid red;*/
}
.con .layui-form.fo .layui-form-item{
    display: inline-block;
    width: 24%;
    /*border: 1px solid green;*/
}.con .layui-form.fo .layui-input-inline{
    width: 55%;
    /*border: 1px solid blue;*/
}
.con .layui-form.fo .layui-btn.find{
    display: block;
    margin: 5% auto;
    width: 10%;
    background: #005ED8;
}
.ble{
    background: #005ED8;
    display: block;
    margin: auto;
}
 .con .layui-form.layui-border-box.layui-table-view{
    width: 95%;
     /*border: 1px solid green;*/
}
.con .layui-table-view .layui-table{
    margin: auto;
    width:100%;
    /*border: 1px solid red;*/
}
.layui-table tr>th {
    color: #333;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background: #0097E2;
}
.con .layui-table tr td .layui-btn{
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    font-size: 12px;
}
#demo7{
    width: 90%;
    margin: auto;
}

/*动态表格*/
.layui-table-cell{
    font-size: 12px;
    padding: 0 5px;
}
.laytable-cell-1-username{
    width: 250px;
}

/*隐藏*/
.inquiry ,.query{
    display: none;
}
.back{
    width: 90%;
    margin: 2% 0 0 3%;
}
.back .layui-btn{
color: #0099FF;
    border-color: #0099FF;
}
.query-1{
    width: 90%;
    margin: auto;
}
.query-1 .til{
    font-size: 20px;
    font-weight: bold;
     text-align: center;
    padding: 10px 0;
    color: #0051D5;
}
.query-1 .tim{
    font-size: 10px;
    text-align: center;
    padding: 10px 0;
    color: #999999;
}.query-1 .layui-table{
    margin: auto;
 }
.query-1 .vi-con{
    margin: 10% 0;
}