.con{
    width: 90%;
    background: #FFF;
    border: 1px solid transparent;
    margin:1% 2%;
    border-radius: 5px;

}.s-p{
    width: 90%;
     margin-left: 2%;
    height: 50px;
     /*border: 1px solid #000;*/
     position: relative;
 }
.s-p .save{
    width: 25%;
    /*border: 1px solid #000;*/
    text-align: center;
    position: absolute;
    right: -2%;
    top: 30%;
}
.s-p .save .print{
     display: inline-block;
     background: #FFF;
     border-radius: 5px;
     color:#0F81FF;
     padding:5px 10px;
     width: 30%;
 }
.layui-form.gen{
    width: 90%;
    margin:5% auto;
}
.layui-form.gen .layui-btn{
    background: #005ED8;
}

.layui-btn.see{
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;

}
.oge{
    color: #FF6600;
    background: #FFE8C6

}
.oe{
    color: #FF6600;

}
.tol td{
    text-align: right;

}
.tol td span{
    margin-right: 5%;
}

.layui-table{
    width: 95%;
    margin: auto;
}
.layui-table tr th,.layui-table tr td{
    font-size: 12px;
padding: 9px 10px;
}
 .layui-table.Hap tr th,.layui-table.Hap tr td{
    padding: 2px;
    font-size: 10px;
}
.layui-btn.see{
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;

}
.layui-btn.need_water{
    width: 40%;
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
    background: #005ED8;
}
.other{
    height: 20px;
    font-size: 12px;
    padding: 0 10px;
    line-height: 20px;
    color: #005ED8;
    background: #FFF;
    border: 1px solid #005ED8;

}
.other:hover{
    color: #005ED8;
}
.box-slide{
    position: relative;
}
.slide{
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: red green blue;*/
    text-align: center;
    display: none;
    width: 90%;
    height: auto;
    color: #333;
    border-radius: 3px;
    background: #FFF;
    border: 1px solid;
    border-color:black red green blue;
    position:absolute;
    left: -30%;
    top:35px;
    z-index: 10;
}
.slide:before{
    content:"";
    display:block;
    border-width:10px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    position: absolute;
    top: -20px;
    left: 45%;
    z-index: 2;
}
.slide2{
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: red green blue;*/
    text-align: center;
    display: none;
    width: 90%;
    height: auto;
    color: #333;
    border-radius: 3px;
    background: #FFF;
    border: 1px solid;
    border-color:cyan magenta yellow black;
    position:absolute;
    left: 20%;
    top:35px;
    z-index: 2;
}
.slide2:before{
    content:"";
    display:block;
    border-width:10px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    position: absolute;
    top: -20px;
    left: 45%;
    z-index: 2;
}
.layui-btn.place{
    width: 70%;
    display: block;
    /*background: #F4F4F4;*/
    /* background:linear-gradient(to right,#FFF , #F4F4F4 ,#FFF );*/
    margin: 5% auto;
}
.center{
    text-align: center;
}
.mod{
    width: 95%;
    margin: auto;
    border: 1px solid #DEDEDE;
}
.mod .layui-btn{
    margin: 10px;
}
.mod p{
    font-size: 15px;
    color: #005ED8;
    margin: 10px;
}
/*查看*/
.con-see{
    width: 90%;
    background: #FFF;
    border: 1px solid transparent;
    margin: 2%;
    border-radius: 5px;
}
.con-see .save{
    width: 25%;
    /*border: 1px solid #000;*/
    text-align: center;
    position: absolute;
    right: -2%;
    top: -30%;
}
.con-see .save .print{
    display: inline-block;
    background: #FFF;
    border-radius: 5px;
    color:#0F81FF;
    padding:5px 10px;
    width: 30%;
}
.con-see h6{
    font-size: 12px;
    margin: 2% 3%;
    color: #005ED8;
}
.rtn{
    margin: 2% 0 0 2%;
    width: 50%;
    display: inline-block;
}
.rtn .layui-btn{
   color: #007FFF;
    width: 15%;
    text-align: center;
    border: 1px solid #007FFF;
}
.Water2{
    width: 95%;
    height: auto;
    margin: 3% auto;
    border: 1px solid #E6E6E6;
    border-radius: 5px;

}
.Water2 .water-t2{
    width: 100%;
    background: #F2F2F2;
    border-radius: 5px;
    text-align: center;
}
.water-t2 h1{
    color: #005ED8;
    font-size: 15px;
    font-weight: bold;
    padding: 2% 0 0;
}
.water-t2 h2{
    color: #005ED8;
    font-size: 12px;
    font-weight: bold;
    padding:1% 0 0;
}
.water-t2 p{
    padding: 1% 0 2%;
    color: #999;
}
.grey{
    background: #F2F2F2;
    color:#333 ;
    font-weight: bold;
}
.Water2 .layui-table{
    width: 90%;
    margin:1% auto;
}
.prt{
    width: 50%;
    margin:5% auto;
    text-align: center;
}
.prt .layui-btn{
    width: 20%;
}
.prt .layui-btn.s{
    background: #75CB79;
}.prt .layui-btn.p{
    background: #005ED8;
}
 .r{
     color: #FF2B2B;
 }
